.design_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0; /* Add vertical spacing */
  max-width: 100% /* Set a maximum width for the container */
}

.design_img .mb-4 {
  flex-basis: calc(100% - 20px); /* Two images per row with spacing */
  margin: 10px; /* Add spacing between images */
  max-width: calc(100% - 20px); /* Ensure images don't exceed half of the container width */
}

/* Media Query for Larger Screens (Displays two images per row) */
@media only screen and (min-width: 768px) {
  .design_img .mb-4 {
    flex-basis: calc(50% - 20px); /* Three images per row with spacing on larger screens */
    max-width: calc(50% - 20px); /* Ensure images don't exceed one-third of the container width */
   
    
  }
  .section_subtitle{
    padding-top: 0;
    padding-bottom: 0;
  }
 
}

/* Style adjustments for text */
.section_title,
.section_subtitle,
.section_description {
  margin: 10px; /* Add margin to the text for better spacing */
}

/* Style adjustments for the button */
.design_btn {
  background-color: rgb(6, 59, 52);
  color: #fff;
  width: 12rem;
  height: 4rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 20px auto; /* Center-align the button and add vertical spacing */
  display: block;
  text-align: center;
}

.design_btn a {
  text-decoration: none;
  color: #fff;
}

.design_btn:hover {
  background: rgb(6, 59, 52);
  transform: scale(1.2);
  color: #fff;
}

.design_btn a:hover {
  transform: scale(1.2);
  color: #fff;
}

.main_design {
  background-color: rgb(231, 251, 251);

}