.slider_item{
    max-width: 100%;
    height: 650px;
    
}
.slider_item{
    background-image:linear-gradient(rgba(5, 30, 22, 0.5),#081212),
    url('../images/kitchen1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
   
}

.slider_item{
    text-align: center;
}
.slider_item h6{
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 35px;
}
.slider_item h1{
    font-size: 60px;
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: poppins,sans-serif;
    font-weight:bolder;
}
.hero_slider{
    overflow: hidden;
}
.slider_content{
    padding-top: 150px;
    align-items: center;
    

}

.discover_btn{
    background-color: rgb(2, 24, 21);
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    

}
.discover_btn a{
    text-decoration: none;
    font-weight: 600;
    color: aqua;
}




 .discover_btn:hover
 {
    background: rgb(6, 59, 52);
    transform: scale(1.2);
  
 }
 .discover_btn a:hover{
    color: #ffff;
 }